global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend public_443
    bind *:443
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend caddy_https if { req.ssl_hello_type 1 }
    default_backend mtproto_proxy

backend caddy_https
    server caddy 127.0.0.1:9443 check

backend mtproto_proxy
    server mtproxy 127.0.0.1:9444 check
